@model KillrVideo.Models.Account.AccountInfoViewModel

@{
    ViewBag.Title = string.Format("{0} {1} - User Info", Model.UserProfile.FirstName, Model.UserProfile.LastName);
    ViewBag.RequireJsMain = "app/account/info";
}

@section htmlhead
{
    <style>
        #user-comments {
            display: block;
            max-height: 280px;
            overflow-y: auto;
            border: 1px solid #EEE;
            margin-top: -20px;
            border-top-style: none;
            padding: 20px;
        }
    </style>
}

<div class="row">
    <div class="col-md-5">
        <h3 class="page-header">
            <i class="fa fa-info-circle"></i> Profile
        </h3>
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.UserProfile.ProfileImageUrl" class="img-responsive img-circle pull-left"
                     alt="Profile image for @Model.UserProfile.EmailAddress" />
            </div>
            <div class="col-md-9">
                <strong>@Model.UserProfile.FirstName @Model.UserProfile.LastName</strong><br />
                @Model.UserProfile.EmailAddress
            </div>
        </div>
        
        <!-- User's comments -->
        <h3 class="page-header">
            <i class="fa fa-comments"></i> Latest Comments
        </h3>
        <user-comments-list id="user-comments" params="userId: '@Model.UserProfile.UserId'"></user-comments-list>
    </div>
    <div class="col-md-7">
        <!-- User's videos -->
        <h3 class="page-header">
            <i class="fa fa-video-camera"></i> @(Model.IsCurrentlyLoggedInUser ? "My " : "")Videos
        </h3>
        @if (Model.IsCurrentlyLoggedInUser)
        {
            <p>
                <a href="@Url.Action("Add", "Videos")" class="btn btn-success">
                    <i class="fa fa-plus-circle"></i> Add a Video
                </a>
            </p>
        }
        <user-videos-table params="userId: '@Model.UserProfile.UserId'"></user-videos-table>
    </div>
</div>

