@using KillrVideo.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KillrVideo</title>
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/bower_components/fontawesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/bower_components/videojs/dist/video-js/video-js.css")" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/Site.css")" />
    
    <link rel="icon" type="image/png" href="@Url.Content("~/content/K.png")"/>
    
    <script type="text/javascript" src="@Url.Content("~/scripts/requirejs-config.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bower_components/requirejs/require.js")"></script>
    @RenderSection("htmlhead", required: false)
</head>
<body>
    @{ Html.RenderAction("Navbar", "Home"); }
    
    <div id="body-wrapper">
        <div class="container body-content">
            @RenderBody()
        </div>
        <div id="push-footer"></div>
    </div>
    
    <footer>
        <div class="container" id="footer-main">
            <div class="row">
                <div class="col-md-4">
                    <h4><i class="fa fa-question-circle"></i> What is KillrVideo?</h4>
                    <p>
                        KillrVideo is a demo web application built with Apache Cassandra and C#.  The site was built by 
                        <a href="http://www.luketillman.com" target="_blank">Luke Tillman</a>, based on an idea and sample schema used by 
                        <a href="https://twitter.com/PatrickMcFadin" target="_blank">Patrick McFadin</a> to demonstrate some of the techniques involved in 
                        Cassandra data modeling.  It uses the <a href="https://github.com/datastax/csharp-driver" target="_blank">DataStax C# Driver</a> for
                        interacting with Cassandra. 
                    </p>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-code"></i> Get the code!</h4>
                    <p>
                        All the code, including the CQL used to create the schema for the site is available on GitHub.  Pull requests
                        for any bugs, improvements, etc. are accepted (and greatly appreciated).
                    </p>
                    <br/>
                    <a href="https://github.com/luketillman/killrvideo-csharp" class="btn btn-success" target="_blank">
                        <i class="fa fa-github"></i> Get the code
                    </a>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-rocket"></i> Learn more about Cassandra</h4>
                    <p>
                        There are tons of great resources available on the web to help getting started with Cassandra.  Below are
                        a few to get you started.
                    </p>
                    <ul>
                        <li><a href="http://planetcassandra.org/" target="_blank">Planet Cassandra</a></li>
                        <li><a href="https://wiki.apache.org/cassandra/DataModel" target="_blank">Data Modeling</a> on the Cassandra Wiki</li>
                        <li>DataStax Docs for <a href="http://www.datastax.com/documentation/developer/csharp-driver/2.0/csharp-driver/whatsNew2.html" target="_blank">.NET Driver</a> | <a href="http://www.datastax.com/documentation/cql/3.1/cql/cql_intro_c.html" target="_blank">CQL</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - KillrVideo
            </div>
        </div>
    </footer>
    
    @RenderSection("scripts", required: false)
    
    @if (GlobalConfigs.AnalyticsEnabled)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-54473346-1', 'auto');
            ga('send', 'pageview');

        </script>
    }
</body>
</html>
