@{
    Layout = null;  // Since this will be used by the shared layout, it shouldn't use one
}

<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-main">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" id="logo">
                    <img src="@Url.Content("~/content/killrvideo.png")" alt="KillrVideo.com Logo"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" role="search" method="GET" action="@Url.Action("Results", "Search")">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" title="Search"></span><span class="hidden">Search</span>
                            </button>
                        </span>
                        <input type="text" class="form-control" name="query" placeholder="Search"
                               list="navbar-search-suggestions" data-bind="value: searchValue, valueUpdate: 'input'"/>
                        <datalist id="navbar-search-suggestions" data-bind="foreach: querySuggestions">
                            <option data-bind="value: $data"></option>
                        </datalist>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <!-- Get the viewport width and bind to model -->
                    <!-- ko viewportWidth: viewportWidth -->
                    <!-- /ko -->

                    <!-- ko if: viewportWidth() >= 992  -->
                    <li id="tour-enabled" class="hidden-sm" data-bind="component: 'tour'">
                    </li>
                    <!-- /ko -->

                    <li>
                        <a href="#" data-bind="click: toggleWhatIsThis, css: { dropup: showWhatIsThis }" data-toggle="collapse"
                           data-target=".navbar-collapse.in, #what-is-this">What is this? <span class="caret"></span></a>
                    </li>

                    <!-- Registration/sign in for users that aren't logged in -->
                    <li data-bind="visible: !loggedInUser.inProgress() && !loggedInUser().isLoggedIn" style="display: none;">
                        <a id="sign-in" href="@Url.Action("SignIn", "Account")" class="text-uppercase">Sign in</a>
                    </li>
                    <li data-bind="visible: !loggedInUser.inProgress() && !loggedInUser().isLoggedIn" style="display: none;">
                        <a id="register" href="@Url.Action("Register", "Account")" class="bg-success text-uppercase">Register</a>
                    </li>

                    <!-- Menu for users that are logged in -->
                    <li class="dropdown" data-bind="if: loggedInUser().profile, visible: true" style="display: none;">
                        <a id="loggedin-user" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span data-bind="text: loggedInUser().profile.firstName"></span> <span data-bind="text: loggedInUser().profile.lastName"></span>
                            <img data-bind="attr: { src: loggedInUser().profile.profileImageUrl }" alt="Profile image" class="img-circle user-gravatar"/>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="my-account" href="@Url.Action("Info", "Account")"><i class="fa fa-cog fa-fw"></i> My Account</a></li>
                            <li><a id="add-video-link" href="@Url.Action("Add", "Videos")"><i class="fa fa-video-camera fa-fw"></i> Add a Video</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-bind="click: logoutUser"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="what-is-this" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4><em>What</em> is KillrVideo?</h4>
                    <p>
                        KillrVideo is a sample web application developed in C# and uses <a href="http://www.datastax.com/products/datastax-enterprise" target="_blank">DataStax Enterprise</a> 
                        running on Microsoft Azure as the database platform. The site demonstrates a number of DataStax Enterprise components in action including
                        <a href="http://www.datastax.com/products/datastax-enterprise-production-certified-cassandra" target="_blank">Apache Cassandra</a>,
                        <a href="http://www.datastax.com/products/datastax-enterprise-analytics" target="_blank">DSE Analytics</a>, and
                        <a href="http://www.datastax.com/products/datastax-enterprise-search" target="_blank">DSE Search</a>. The application's code, data models, data and more 
                        are freely available on GitHub.
                    </p>
                    <hr class="visible-xs-block"/>
                </div>
                <div class="col-sm-4">
                    <h4><em>Get</em> the code!</h4>
                    <p>
                        All the code, including the CQL used to create the schema for the site is available on GitHub. Pull requests
                        for any bugs, improvements, etc. are accepted (and greatly appreciated).
                    </p>
                    <br/>
                    <a href="https://github.com/luketillman/killrvideo-csharp" class="btn btn-success" target="_blank">
                        <i class="fa fa-github"></i> Get the code
                    </a>
                    <hr class="visible-xs-block"/>
                </div>
                <div class="col-sm-4">
                    <h4><em>Learn more</em> about DataStax Enterprise and Cassandra</h4>
                    <p>
                        There are many free resources available to help you learn about DataStax Enterprise and Cassandra, including:
                    </p>
                    <ul>
                        <li><a href="https://academy.datastax.com/" target="_blank">DataStax Academy</a> (free online training for Cassandra and DSE)</li>
                        <li><a href="http://docs.datastax.com/en/index.html" target="_blank">DataStax Documentation</a></li>
                        <li><a href="http://docs.datastax.com/en/getting_started/doc/getting_started/intro.html" target="_blank">Getting Started</a> with DataStax Enterprise and Cassandra documentation</li>
                        <li><a href="http://www.datastax.com/" target="_blank">DataStax website</a> (software downloads and more)</li>
                        <li><a href="http://planetcassandra.org/" target="_blank">Planet Cassandra</a> website</li>
                    </ul>

                    <!-- On mobile, add a link to hide the what is this UI -->
                    <br/>
                    <a href="#" class="visible-xs-block text-muted small dropup" data-bind="click: toggleWhatIsThis" data-toggle="collapse" data-target="#what-is-this">
                        <span class="caret"></span> Hide 'What is This?'
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>