@model KillrVideo.Models.Search.ShowSearchResultsViewModel

@{
    ViewBag.Title = string.Format("Search Results for '{0}'", Model.Query);
}

@if (string.IsNullOrWhiteSpace(Model.Query))
{
    <h3>No search term entered</h3>
    <p class="alert alert-warning">
        Enter a search term in the search box to get results.
    </p>
}
else
{
    <input type="hidden" id="searched-for" value="@Model.Query"/>

    <h3 class="section-divider">
        <span><em>@Model.Query</em> Videos</span>
    </h3>
    
    <div id="search-results">
        <h4 data-bind="visible: isLoading() && videos().length === 0">
            <i class="fa fa-spinner fa-spin"></i> Searching...
        </h4>

        <p class="alert alert-info" data-bind="visible: loadedEmptyPage">
            There are no more videos for <strong>@Model.Query</strong>. Why don't you <a class="alert-link" href="@Url.Action("Add", "Videos")">add one</a>?
        </p>

        <p class="alert alert-info" data-bind="visible: !isLoading() && videos().length === 0">
            There are currently no videos for <strong>@Model.Query</strong>. Why don't you <a class="alert-link" href="@Url.Action("Add", "Videos")">add one</a>?
        </p>

        <div class="row" data-bind="foreach: { data: videos, as: 'videopreview' }">
            <div class="col-sm-3">
                <video-preview params="data: videopreview"></video-preview>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-default navbar-btn" data-bind="visible: previousPageAvailable, click: previousPage, disable: isLoading">
                    <i class="fa fa-chevron-circle-left"></i> Previous Page
                </button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-default navbar-btn" data-bind="visible: nextPageAvailable, click: nextPage, disable: isLoading">
                    Next Page <i class="fa fa-chevron-circle-right" data-bind="visible: !isLoading()"></i><i class="fa fa-spinner fa-spin" data-bind="visible: isLoading"></i>
                </button>
            </div>
        </div>
    </div>
}