@model KillrVideo.Models.Home.ViewNavbarViewModel

@{
    Layout = null;  // Since this will be used by the shared layout, it shouldn't use one
}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-main">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand" title="KillrVideo.com">
                <img src="@Url.Content("~/content/killrvideo.png")" alt="KillrVideo.com Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search" method="GET" action="@Url.Action("Results", "Search")"
                  data-bind="with: searchVideos">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" title="Search"></span><span class="hidden">Search</span>
                        </button>
                    </span>
                    <input type="text" class="form-control" name="tag" placeholder="Search"
                           list="navbar-search-suggestions" data-bind="value: searchValue, valueUpdate: 'input'" />
                    <datalist id="navbar-search-suggestions" data-bind="foreach: tagSuggestions">
                        <option data-bind="value: $data"></option>
                    </datalist>
                </div>
            </form>
            
            <ul class="nav navbar-nav navbar-right">
                @if (Model.LoggedInUser == null)
                {
                    <li><a href="@Url.Action("SignIn", "Account")" class="text-uppercase">Sign in</a></li>
                    <li><a href="@Url.Action("Register", "Account")" class="bg-success text-uppercase">Register</a></li>
                }
                else
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName 
                            <img src="https://secure.gravatar.com/avatar/@Model.LoggedInUser.GravatarHash"
                                 alt="Gravatar for @Model.LoggedInUser.EmailAddress" class="img-circle" />
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Info", "Account")"><i class="fa fa-cog fa-fw"></i> My Account</a></li>
                            <li><a href="@Url.Action("Add", "Videos")"><i class="fa fa-video-camera fa-fw"></i> Add a video</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("SignOut", "Account")"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>